*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
html body{
    widows: 100%;
    height: 100%;
    background-color:#f4f4f4;
    color: #3c3c3c;
    overflow-x: hidden;
}
.wrapper{
    width: 100%;
    height: 100%;
}
/* 上导航条 */
.wrapper .top-nav-wrap{
    width: 100%;
    /* height:105px ; */
    /* border:1px solid black; */
}
.wrapper .top-nav-wrap .top-nav{
    width:1190px;
    height:35px;
    /* border:1px solid black; */
    margin:0 auto;
}
.wrapper .top-nav-wrap .top-nav .top-nav-left{
    float:left;
}
.wrapper .top-nav-wrap .top-nav .top-nav-right{
    float:right;
}
.wrapper .top-nav-wrap .top-nav ul li{
    float:left;
    margin-right:7px;
}
.wrapper .top-nav-wrap .top-nav a{
    color:#6c6c6c;
    font-size:12px;
    line-height:35px;
    padding:0 6px;
}
.wrapper .top-nav-wrap .top-nav a:hover{
    color:#f40;
}
.wrapper .top-nav-wrap .top-nav .china{
    color:#3c3c3c;
    line-height: 35px;
    font-size:13px;
}
.wrapper .top-nav-wrap .top-nav a.login{
    color:#f40;
}
.wrapper .top-nav-wrap .top-nav .c-span{
    padding:0 6px;
}
.wrapper .top-nav-wrap .top-nav .bg-pic{
    display:inline-block;
    width:6px;
    height:3px;
    background-size:100% 100%;
    vertical-align:middle;
}
.wrapper .top-nav-wrap .top-nav .bg-pic.xsj-pic{
    background-image:url('./img/xsj.png');
}
.wrapper .top-nav-wrap .top-nav .bg-pic.shopCar-pic{
    background-image:url('./img/gwc.png');
    width:12px;
    height:12px; 
}
.wrapper .top-nav-wrap .top-nav .bg-pic.like-pic{
    background-image:url('./img/star.png');
    width:12px;
    height:12px; 
}
.wrapper .top-nav-wrap .top-nav .bg-pic.web-nav-pic{
    background-image:url('./img/dh.png');
    width:10px;
    height:10px; 
}
.wrapper .top-nav-wrap .top-nav .cut-off span{
    line-height:35px;
    color:#ddd;
}
.wrapper .top-nav-wrap .ad-wrap{
    height:70px;
    width:100%;
    background:#4c174d
}
.wrapper .top-nav-wrap .ad-wrap .ad{
    width:1190px;
    height:70px;
    margin:0 auto;
}
.wrapper .top-nav-wrap .ad-wrap img{
    width:100%;
    height:70px;
}
/* 搜索区域 */
.wrapper .search-wrap{
    height: 97px;
    width: 100%;
    padding-top:24px;
    background-color:#fff;
    /* border:1px solid black; */
}
.wrapper .search-wrap .search-con{
    position: relative;
    width:1190px;
    height:88px;
    margin:0 auto;
    /* border:1px solid black; */
}
.wrapper .search-wrap .search-con .logo-box{
    position: relative;
    margin-top:-10px;
    margin-right:60px;
    display:inline-block;
    width:190px;
    height: 105px;
    vertical-align:top;
    background-image:url('./img/logo.gif');
    /* border:1px solid black; */
}
.wrapper .search-wrap .search-con .search-box{
    display:inline-block;
    width:627px;
    height:87px;
    vertical-align:top;
    /* border:1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-t{
    width:627px;
    height:62px;
    /* border:1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-t .search-tab{
    height:22px;
    margin-left:17px;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-tab ul li{
    float:left;
    width:36px;
    height: 22px;
    color:#f40;
    font-size:12px;
    line-height:22px;
    text-align:center;
    margin-right:4px;
    /* background-color:green; */
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-tab ul li:hover{
    background:#ffeee5;
    color:#ff5400
}
.wrapper .search-wrap .search-con .search-box .search-t .search-tab ul li.select{
    color:#fff;
    font-weight:700;
    background:linear-gradient(to right, #ff9000 0, #ff5000 100%);
}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel{
    width:627px;
    height:40px;
    /* border:1px solid #000; */
    position: relative;
}
/* .wrapper .search-wrap .search-con .search-box .search-t .search-panel form{

} */
.wrapper .search-wrap .search-con .search-box .search-t .search-panel form .btn{
    height:40px;
    width:74px;
    position: absolute;
    top:0;
    right:0;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    /* border:1px solid #000; */
    overflow: hidden;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel .btn button{
    border:none;
    width:100%;
    height:100%;
    color:#fff;
    font-weight:700px;
    font-size:18px;
    line-height: 40px;
    cursor: pointer;
    background:linear-gradient(to right, #ff9000 0, #ff5000 100%);
}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel .search-inp-box{
    height: 36px;
    width:551px;
    border:2px solid #ff5000;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    overflow: hidden;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel .search-inp{
    height: 36px;
    width:472px;
    overflow: hidden;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel .search-inp input{
    height: 24px;
    width:472px;
    padding:6px 16px;
    border:none;
    outline: 0;
    text-indent:10px;
}
.wrapper .search-wrap .search-con .search-box .sousuo,
.wrapper .search-wrap .search-con .search-box .camera{
    display:inline-block;
    position:absolute;
}
.wrapper .search-wrap .search-con .search-box .sousuo{
    width:12px;
    height:14px;
    top:11px;
    left:14px;
    background-image:url('./img/fdj.png');
    background-size:100% 100%;
}
.wrapper .search-wrap .search-con .search-box .camera{
    width:20px;
    height:22px;
    top:11px;
    right:90px;
    background-image:url('./img/camera.png');
    background-size:100% 100%;
}
.wrapper .search-wrap .search-con .search-box .search-bl{
    height:20px;
    width:627px;
    /* border:1px solid red; */
}
.wrapper .search-wrap .search-con .search-box .search-bl a{
    font-size:12px;
    margin-right:-1px;
    color:#3c3c3c;
    cursor: pointer;
}
.wrapper .search-wrap .search-con .search-box .search-bl a:hover,
.wrapper .search-wrap .search-con .search-box .search-bl a.active{
    color:#ff5000;
}
.wrapper .search-wrap .search-con .code-box{
    display:inline-block;
    width:76px;
    height:90px;
    vertical-align:top;
    /* border:1px solid black; */
    margin-left:120px;
    position: relative;
}
.wrapper .search-wrap .search-con .code-box .phone{
    color:#ff5000;
    font-size:14px;
    line-height: 20px;
    margin-left:6px;
}
.wrapper .search-wrap .search-con .code-box .code{
    display:inline-block;
    width:62px;
    height:62px;
    background:url('./img/ewm.png') no-repeat;
    background-size:100% 100%;
    /* 可以尝试其他方式让照片居中？ */
    margin-left:6px;
}
.wrapper .search-wrap .search-con .code-box .close{
    position:absolute;
    display:inline-block;
    border:1px solid #eee;
    top:0;
    left:-18px;
    color:#ddd;
    font-size:14px;
    width:16px;
    height: 16px;
    line-height: 16px;
    text-align:center;
}
/* 搜索下的导航条 */
.wrapper .screen-nav{
    width:1190px;
    height:30px;
    background:linear-gradient(to right,#ff9000 0, #ff5000 100%);
    margin:0 auto;
}
.wrapper .screen-nav .screen-nav-con{
    width:100%;
    height:100%;
}
.wrapper .screen-nav .screen-nav-con h2{
    /* 如果设置成行级块元素h2标签将会浮动到右边,所以可以让ul li向右浮动 */
    float:left;
    font-size:16px;
    /* font-weight: bold; */
    color:#fff;
    height:100%;
    width:190px;
    background-color:#ff5000;
    line-height: 30px;
    text-align:center;
}
.wrapper .screen-nav .screen-nav-con ul{
    float:left;
    /* font-size:16px;
    height:30px; */
}
.wrapper .screen-nav .screen-nav-con ul li{
    float:left;
    margin:0 3px;
    padding:0 4px;
    position: relative;
}
.wrapper .screen-nav .screen-nav-con ul .top-xb:hover::before{
    content:"";
    display:block;
    width:30px;
    height: 30px;
    background:url('./img/up.png') no-repeat;
    background-size:center center;
    position:absolute;
    top:-10px;
    left:50%;
    margin-left:-15px;
}
.wrapper .screen-nav .screen-nav-con ul li a{
    color:#fff;
    font-weight:700;
    line-height: 30px;
}
/* 主要图片展示内容区域 */
.wrapper .screen-box{
    height:632px;
    width:1190px;
    border:1px solid red;
    margin:0 auto;
}
.wrapper .screen-box .main{
    float:left;
    width:890px;
    height:632px;
    /* border:1px solid black; */
}
.wrapper .screen-box .main .main-inner{
    width:890px;
    height: 522px;
    /* border:1px solid black; */
}
.wrapper .screen-box .main .main-inner .inner-left{
    float:left;
    width:190px;
    height: 515px;
    border:1px solid #f40;
    border-top:none;
    background-color:#fff;
}
.wrapper .screen-box .main .main-inner .inner-left ul li{
    position: relative;
    height: 32px;
    width: 145px;
    padding-left:25px;
    padding-right:19px;
}
.wrapper .screen-box .main .main-inner .inner-left ul li:hover{
    background-color:#ffe4dc;
}
.wrapper .screen-box .main .main-inner .inner-left ul li:hover a{
    color:#ff5000;
}
.wrapper .screen-box .main .main-inner .inner-left ul li a{
    font-size:14px;
    color:#666;
    font-weight: 400;
    line-height: 32px;
}
.wrapper .screen-box .main .main-inner .inner-left ul li span{
    position: absolute;
    display:inline-block;
    width:5px;
    height: 8px;
    /* border:1px solid black; */
    right:10px;
    top:50%;
    margin-top:-4px;
    background:url('./img/yjt.png');
    background-size:100% 100%;
}
.wrapper .screen-box .main .main-inner .inner-content{
    float:left;
    width:520px;
    height: 522px;
    /* border:1px solid black; */
}
.wrapper .screen-box .main .main-inner .inner-content .pic-box{
    padding:8px;
}
.wrapper .screen-box .main .main-inner .inner-content .inner-mall{
    width:520px;
    height:230px;
    margin:0 8px;
}
.wrapper .screen-box .main .main-inner .inner-content .inner-mall .tm{
    font-size:12px;
    color:#666;
}
.wrapper .screen-box .main .main-inner .inner-right{
    float:left;
    padding:8px;
    width:160px;
    height: 522px;
}
.wrapper .screen-box .main .main-inner .inner-right .hot{
    margin-top:11px;
    font-size:12px;
}
.wrapper .screen-box .main .main-bottom{
    width:890px;
    height: 100px;
    /* border:1px solid black; */
}
.wrapper .screen-box .main .main-bottom .content{
    position: relative;
    background-color:#fff;
    padding:14px 12px;
    margin-top:10px;
}
.wrapper .screen-box .main .main-bottom .content .logo-box{
    width:180px;
    height: 73px;
    background-image:url('./img/tbtt.png');
    background-position: 100% 100%;
}
.wrapper .screen-box .main .main-bottom .content a{
    position: absolute;
    top:14px;
    left:200px;
}
.wrapper .screen-box .main .main-bottom .content a img{
    float:left;
}
.wrapper .screen-box .main .main-bottom .content a h4{
    margin-top:2px;
    margin-left:144px;
    color:#333;
    height: 28px;
    line-height: 28px;
    font-size:16px;
}
.wrapper .screen-box .main .main-bottom .content a h4:hover{
    color:#ff5000;
}
.wrapper .screen-box .main .main-bottom .content a p{
    margin-left:144px;
    color:#999;
    height: 36px;
    line-height: 14px;
    overflow: hidden;
    margin-top:3px;
}
.wrapper .screen-box .col-right{
    float:left;
    width:290px;
    height: 632px;
    border:1px solid black;
}
.wrapper .screen-box .col-right .member{
    width:290px;
    height: 132px;
    /* border:1px solid black; */
    background-image:url('./img/bg.png');
    background-size:100% 100%;
    margin-top:6px;
}
.wrapper .screen-box .col-right .member .member-header{
    width:290px;
    height:91px;
}
.wrapper .screen-box .col-right .member .member-header .header{
    width:290px;
    height: 56px;
    text-align:center;
    /* border:1px solid black; */
}
.wrapper .screen-box .col-right .member .member-header .header a{
    display:inline-block;
    width:50px;
    height: 50px;
    border-radius:50%;
    background-image:url('./img/tx.jpg');
    background-size:100% 100%;
}
.wrapper .screen-box .col-right .member .member-header .info{
    display:block;
    width:290px;
    height: 17px;
    color:#3c3c3c;
    text-align:center;
    line-height: 17px;
}
.wrapper .screen-box .col-right .member .member-header p{
    width:290px;
    height: 17px;
    /* display:inline-block; */
    text-align:center;
    line-height: 17px;
}
.wrapper .screen-box .col-right .member .member-header p a{
    display:inline-block;
    width:72px;
    height: 17px;
    border-radius:9px;
    background:#ffe4db;
    font-size:12px;
    color:#ff5000;
    padding:0 20px;
    position: relative;  
}
.wrapper .screen-box .col-right .member .member-header p a span{
    position: absolute;
    display:inline-block;
    width:16px;
    height: 16px;
    top:0;
    left:0;
    background-image:url('./img/pics.png')
}
.wrapper .screen-box .col-right .member .member-header p .icon span{
    background-position: 0 -572.5px;
}
.wrapper .screen-box .col-right .member .member-header p .club span{
    background-position: 0 -528px;
}
.wrapper .screen-box .col-right .member .member-foot{
    width:290px;
    height:40px;
    padding-top:10px;
    text-align:center;
}
.wrapper .screen-box .col-right .member .member-foot a{
    display:inline-block;
    height: 25px;
    width: 75px;
    background:linear-gradient(to right,#ff5000 0,#ff6f60 100%);
    border-radius:4px;
    text-align:center;
    line-height: 25px;
    font-size:14px;
    color:#fff;
    font-weight:700;
}
.wrapper .screen-box .col-right .member .member-foot a.login{
    width:92px;
}
.wrapper .screen-box .col-right .message{
    width:290px;
    height:26px;
    /* border:1px solid black; */
    position: relative;
}
.wrapper .screen-box .col-right .message a{
    display:inline-block;
    width:100%;
    height: 100%;
    background-color:#ffe4dd;
    color:#f40;
    font-size:12px;
    text-align:center;
    line-height: 26px;
}
.wrapper .screen-box .col-right .message span{
    display:inline-block;
    width:10px;
    height:10px;
    /* border:1px solid black; */
    position: absolute;
    top:8px;
    right:52px;
    background-image:url('./img/ysj.png');
    background-size:100% 100%;
}